$border-radius-large: 20px;
$border-radius-medium: 10px;
$border-radius: 5px;
$border-radius-small: 3px;

$spacing-large: 30px;
$spacing-medium: 20px;
$spacing: 10px;
$spacing-small: 5px;

$transition: 0.3s;