$black-darkest: #121212;

$gray-darkest: rgb(28, 28, 30);
$gray-darker: rgb(44, 44, 46);
$gray-dark: rgb(58, 58, 60);
$gray: rgb(72, 72, 74);
$gray-light: rgb(99, 99, 102);
$gray-lighter: rgb(174, 174, 178);
$gray-lightest: rgb(199, 199, 204);

$white-darkest: rgb(142, 142, 147);
$white-darker: rgb(174, 174, 178);
$white-dark: rgb(199, 199, 204);
$white: rgb(229, 229, 234);
$white-light: rgb(242, 242, 247);
$white-lighter: rgb(247, 247, 252);

$red: rgb(225, 69, 58);
$orange: rgb(255, 159, 10);
$yellow: rgb(255, 214, 10);
$green: rgb(48, 209, 88);
$blue: rgb(10, 132, 255);